<html>
    <head>
        <title>User Survey</title>
    </head>
    <body>
        <h1>Please enter the following details:</h1>
        <form method="POST" autocomplete="off">
            <label>Age:</label>
            <input type="number" name="Age">
            <br><br>
            <label>Gender:</label>
            <input type="text" name="Gender">
            <br><br>
            <label>Total Income:</label>
            <input type="number" name="Total_Income">
            <br><br>
            <h2>Expense Categories</h2>
            <label>Utilities:</label>
            <input type="checkbox" name="check_utilities">
            <input type="number" name="utilities">
            <br><br>
            <label>Entertainment:</label>
            <input type="checkbox" name="check_entertainment">
            <input type="number" name="entertainment">
            <br><br>
            <label>School Fees:</label>
            <input type="checkbox" name="check_schoolfees">
            <input type="number" name="schoolfees">
            <br><br>
            <label>Shopping:</label>
            <input type="checkbox" name="check_shopping">
            <input type="number" name="shopping">
            <br><br>
            <label>Healthcare:</label>
            <input type="checkbox" name="check_healthcare">
            <input type="number" name="healthcare">
            <br><br>
            <input type="submit">
        </form>
    </body>
</html>
